@use '../../center.sass';

.place {
  height: 200px;
}

.main {
  height: 200px;
  background-color: rgb(8, 16, 34);
}
a {
  text-decoration: none;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.877);
}

a:hover {
  color: rgba(255, 255, 255, 0.664);
  text-decoration: underline;
}
