@import url('../center.sass');

.all {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
h1 {
  font-size: 2rem;
}

button {
  border-radius: 28%;
  border: none;
  padding: 2rem;
  margin-left: 20px;
  background-color: rgba(172, 255, 47, 0.541);
  font-size: 1.5rem;
}

input {
  border: none;
  height: 40px;
  width: 140px;
  font-size: 18px;
  border-radius: 10%;
}

::placeholder {
  font-size: 16px;
}
label {
  font-size: smaller;
}
