/* You can add global styles to this file, and also import other style files */
@import url('./app/roboto.scss');
body {
  margin: 0;
  background-color: rgba(1, 8, 17, 0.932);
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Roboto', sans-serif;
}
